{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
        href="{% static 'css/base.css' %}">
</head>
<body>
    <h1>ConectaPuc</h1>
    <div>
        <a href="{% url 'listar_foruns' %}">Fóruns</a> |
        {% if user.is_authenticated %}
        | <a href="{% url 'sec-logout' %}">Logout</a>
        | <a href="{% url 'sec-password_change' %}">Trocar senha</a>
        | <a href="{% url 'sec-completaDadosUsuario' pk=user.id %}">Terminar registro</a>
        {% else %}
        | <a href="{% url 'sec-login' %}?next={% url 'listar_foruns' %}">Login</a>
        | <a href="{% url 'sec-registro' %}">Registrar</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>