{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
</head>
<body>
<div class="parent-container">
    <h2>Página de Registro</h2>
    <form method="post" class="th">
        {% csrf_token %}
        <table class="formulario">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Registrar"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
    
</body>
</html>
