{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
        href="{% static 'css/lista_Foruns.css' %}">
</head>
<h2>Fóruns</h2>

<h2><a href="{% url 'sec-home' %}">Conta</a></h2>

<h3>
    {% if user.is_superuser %}
        <a href="{% url 'criar_forum' %}"> Criar Fórum</a>

    {% endif %}
</h3>

<ul>
    {% for forum in foruns %}
    <li><a href="{% url 'visualizar_e_criar_postagens' forum.id %}">{{ forum.nome }}</a>
        {% if user == forum.autor %}
        <a href="{% url 'editar_forum' forum.id %}">Editar</a>
       <a href="{% url 'excluir_forum' forum.id %}">Excluir</a>
       {% endif %}
    
    </li>
 
    {% endfor %}
</ul>
{% endblock %}
</html>