/* Adicione este CSS ao seu arquivo 'registro.css' */

/* Estilo para o corpo do formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o contêiner do formulário */
.th {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-top: 20px; /* Adicione esta linha para criar espaço entre o título e o formulário */
}

/* Estilo para o título */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilo para o botão de registro */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

